---

name: Linter

on:
  push:
    branches:
      - bugfix/*
      - master
      - develop

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: RuboCop
            cmd: rubocop
            args: ""
          - name: Reek
            cmd: reek
            args: "--single-line ."

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install dependencies
        run: bundle update --jobs=3 --retry=3

      - name: Run ${{ matrix.name }}
        run: bundle exec ${{ matrix.cmd }} ${{ matrix.args }}
