---

name: RSpec

on:
  push:
    branches:
      - bugfix/*
      - master
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MONGOID_VERSION: ${{ matrix.mongoid-version }}
    services:
      mongodb:
        image: mongo
        ports:
        - 27017:27017
    strategy:
      matrix:
        ruby-version: ['3.0', '3.1', '3.2', '3.3']
        mongoid-version: ['7.1.0', '8.0.0', '8.1.0', '9.0.10']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: bundle update --jobs=3 --retry=3
      - name: Run tests
        run: bundle exec rake
